<section class="active-surveys">
  <div class="active-surveys__buttons">
    <button class="active-surveys__button active">Active Surveys</button>
    <button class="active-surveys__button">Past Surveys</button>
  </div>
  <div class="active-surveys__surveys">
    <app-survey></app-survey>
    <app-survey></app-survey>
    <app-survey></app-survey>
    <app-survey></app-survey>
    <app-survey></app-survey>
    <app-survey></app-survey>
    <app-survey></app-survey>
    <app-survey></app-survey>
  </div>
</section>
