.atf {
  margin: 0 100px;
  margin-top: 100px;
  display: flex;
}

h1 {
  color: #ffb770;
  font-size: 120px;
  font-family: 'Nerko One', sans-serif;
  line-height: 1;
}

p {
  color: #ffffff;
  font-size: 24px;
  margin-top: 20px;
  width: 700px;
  font-family: 'Mulish', sans-serif;
}

img {
  margin-left: 100px;
}

button {
  width: 138px;
  height: 48px;
  border-radius: 10px;
  background-color: #ffcfa1;
  margin-top: 20px;
  font-weight: 600;
  font-size: 18px;

  &:hover {
    cursor: pointer;
  }
}
